
colors = {dark: #3B3B3B, 
	red: #e74c3c, error: #e74c3c,
	green: #2ecc71, success: #2ecc71,
	purple: #9b59b6,
	yellow: #f1c40f,
	teal: #1abc9c
	}


@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.dont
	background-color white
	display inline-block

	color colors['red']
	
@require "functions.styl"
@require "main.styl"
@require "input.styl"
@require "nav.styl"