
body
	font-family: 'Ubuntu', sans-serif
	background-color #8e44ad
	position relative
	color white
	margin-left 0px
	margin 0px
	overflow-x hidden

ul
	margin-bottom 0px




hr
	height 0px
	border 0px
	border-top 1px solid rgba(0, 0, 0, 0.1)
	margin 20px

h1
	font-weight lighter
	text-align center
	margin-bottom 80px
	margin 20px

pre
	text-align left
	display inline-block
	max-width 600px
	width 90%
	padding 20
	background-color #ecf0f1
	border-radius 5px
	font-size .7em
	line-height 1.3em


ul
	list-style-type: none;
	padding-left 0px
.hide, .hidden
	display none

.header
	height 100vh
	width 100vw
	margin-left 0px
	padding-left 0px
	padding-bottom 0px
	position relative
	display: table
	font-size: 2em


	
.headers-0{
             background-color: colors["dark"];
             //background-image: url("/bg.png");
             background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom; 
}
.headers-1
	background-color colors["red"]
.headers-2
	background-color colors["dark"]
	
.container 
	display: table-cell
	vertical-align: middle
.header-0
	width 70%
	margin: 0 auto;
.header-1
	width 70%
	margin: 0 auto;
svg
	width 90%
.headers-3
	background-color colors["teal"]
.content
	text-align center
.hide, .hidden
	display none
/*

body
	font-family: 'Ubuntu', sans-serif
	background-color #ecf0f1
	position relative
	margin 30px


.content
	text-align center
	background-color white
	border-radius 10px
	margin-left auto
	margin-right auto
	min-width: 300px
	width 70% + 10px
	padding 20px
	padding-bottom 30
	box-shadow inset 0px -2px #ccc
	border 1px solid #ccc



hr
	height 0px
	border 0px
	border-top 1px solid rgba(0, 0, 0, 0.1)
	margin 20px

h1
	font-weight lighter
	text-align center
	margin-bottom 20px
	margin 20px

pre
	text-align left
	display inline-block
	max-width 600px
	width 90%
	padding 20
	background-color #ecf0f1
	border-radius 5px
	font-size .7em
	line-height 1.3em




.heading
	width 60%
	display inline-block
	text-align center
*/